{% extends "base.html" %}
{% block title %}Add decision{% endblock %}
{% block header %}Add decision{% endblock %}
{% block buttons %}
<div class="button" onclick="document.forms['decision_form'].submit()">
    <i class="fa fa-check"></i>
</div>
<a class="button" href="{% url 'dashboard' %}"><i class="fa fa-times"></i></a>
{% endblock %}
{% block content %}
<form id="decision_form" name="decision_form" action="" enctype="multipart/form-data" method="post">
{% csrf_token %}
{{ form.management_form }}
<section>
    <h2 class="widgetHeader">Decision details</h2>
    <div class="row">
        <div class="columns">
        <div class="small-12 medium-4">
            <div class="name-field">
                <label {% if form.name.errors %}class="error"{% endif %}>{{ form.name.label }} <small>required</small>
                    {{ form.name }}
                </label>
                {% if form.name.errors %}<span class="error">{{ form.name.errors }}</span>{% endif %}
            </div>    
        </div>
        <div class="small-12 medium-4">
            <div>
                <label {% if form.description.errors %}class="error"{% endif %}>{{ form.description.label }} <small>required</small>
                    {{ form.description }}
                </label>
                {% if form.description.errors %}<span class="error">{{ form.description.errors }}</span>{% endif %}
            </div>    
        </div>
        <div class="small-12 medium-4">
            <div>
                <label {% if form.image.errors %}class="error"{% endif %}>{{ form.image.label }}
                    {{ form.image }}
                </label>
                {% if form.image.errors %}<span class="error">{{ form.image.errors }}</span>{% endif %}
            </div>    
        </div>
        </div>
    </div>
</section>
<section>
    <h2 class="widgetHeader">Criterias <small>at least 2 required</small></h2>
    <div class="row">
    {% for form in crit_form %}
        {{ form.id }}
            <div class="inline criterias small-12 medium-4 columns">
                <div class="name-field">
                    <label {% if form.name.errors %}class="error"{% endif %}>{{ form.name.label }} <small>required</small>
                        {{ form.name }}
                    </label>
                    {% if form.name.errors %}<span class="error">{{ form.name.errors }}</span>{% endif %}
                </div>    
                <div>
                    <label {% if form.description.errors %}class="error"{% endif %}>{{ form.description.label }}
                        {{ form.description }}
                    </label>
                    {% if form.description.errors %}<span class="error">{{ form.description.errors }}</span>{% endif %}
                </div>  
                <div>
                    <label {% if form.image.errors %}class="error"{% endif %}>{{ form.image.label }}
                        {{ form.image }}
                    </label>
                    {% if form.image.errors %}<span class="error">{{ form.image.errors }}</span>{% endif %}
                </div>  
            </div>
    {% endfor %}
    </div>
    {{ crit_form.management_form }}
    {{ crit_form.non_form_errors }}
</section>
<section>
    <h2 class="widgetHeader">Variants <small>at least 2 required</small></h2>
    <div class="row">
    {% for form in var_form %}
        {{ form.id }}
            <div class="inline variants small-12 medium-4 columns">
                <div class="name-field">
                    <label {% if form.name.errors %}class="error"{% endif %}>{{ form.name.label }} <small>required</small>
                        {{ form.name }}
                    </label>
                    {% if form.name.errors %}<span class="error">{{ form.name.errors }}</span>{% endif %}
                </div>   
                <div>
                    <label {% if form.description.errors %}class="error"{% endif %}>{{ form.description.label }}
                        {{ form.description }}
                    </label>
                    {% if form.description.errors %}<span class="error">{{ form.description.errors }}</span>{% endif %}
                </div>  
                <div>
                    <label {% if form.image.errors %}class="error"{% endif %}>{{ form.image.label }}
                        {{ form.image }}
                    </label>
                    {% if form.image.errors %}<span class="error">{{ form.image.errors }}</span>{% endif %}
                </div>      
            </div>
    {% endfor %}
    {{ var_form.management_form }}
    {{ var_form.non_form_errors }}
    </div>
</section>
</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(function() {
        $('.criterias.inline').formset({
            prefix: '{{ crit_form.prefix }}',
            formCssClass: 'dynamic-critFormset'
        });
        $('.variants.inline').formset({
            prefix: '{{ var_form.prefix }}',
            formCssClass: 'dynamic-varFormset'
        });
    })
</script>
{% endblock %}