{% extends "base.html" %}
{% block title %}Detail rozhodovania{% endblock %}
{% block header %}Detail rozhodovania{% endblock %}
{% block buttons %}
<a class="button" title="Späť na dashboard" href="{% url 'dashboard' %}"><i class="fa fa-times"></i></a>
{% if wasInvited %}<a class="button" title="Párové porovnania" href="{% url 'decision_evaluate' object.id %}"><i class="fa fa-sliders"></i></a>{% endif %}
{% endblock %}
{% block content %}
{% with completeness=object.getDecisionDetailData %}
<section>
	<h2 class="widgetHeader">{{ object.name }}</h2>
	<div class="row">
		<div class="columns small-12 medium-4">
			<div class="picture" style="background:url('{{ MEDIA_URL }}{{ object.image }}');"></div>
		</div>
		<div class="columns small-12 medium-4 infoSection">
			<div class="row">
				<h3 class="columns subsectionHeader">Popis</h3>
				<div class="columns small-12">
					<p class="description">{{ object.description }}</p>
				</div>	
			</div>
			<div class="row">
				<h3 class="columns subsectionHeader">Info</h3>
				<div class="columns small-12">
					<div class="pair">
						<span class="key">Vytvorené</span><span class="value">{{ decision.published }}</span>
					</div>
					<div class="pair">
						<span class="key">Úplnosť</span><span class="value">{{ completeness.3 }}</span><span class="symbol"> %</span>
					</div>
				</div>
			</div>
			<div class="row">
				<h3 class="columns subsectionHeader">Výsledky hodnotenia</h3>
				<div class="columns small-12">
					{% for item in object.getVariants %}
						<div class="pair">
							<span class="key">{{ item.0.name }}</span><span class="value">{{ item.1 }}</span><span class="symbol"> %</span>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="columns small-12 medium-4 resultChartWrapper" data-completeness="{{ completeness.3 }}">
			<h3 class="columns subsectionHeader">Úplnosť</h3>
			<canvas id="resultChart"></canvas>
		</div>
	</div>
</section>
<section>
	<h2 class="widgetHeader">Vývoj počtu hlasov</h2>
	<canvas id="resultEvolutionChart"></canvas>
</section>
<section>
	<h2 class="widgetHeader">Vyhodnotenie dôležitosti kritérií</h2>
	<canvas id="criteriaChart"></canvas>
</section>
<section>
	<h2 class="widgetHeader">Kritériá</h2>
	{% for item in object.getCriterias %}
	<div class="itemWrapper">
		<i class="fa fa-plus" onclick="openContent(this);"></i>
		<a href="{{item.get_absolute_url}}">
			<h2>{{item.name}}</h2>
		</a>
		<div class="collapsedContent">
			<div class="row">
				<div class="columns small-12 medium-4">
					<div class="picture" style="background:url('{{ MEDIA_URL }}{{ item.image }}');"></div>
				</div>
				<div class="columns small-12 medium-4">
					<h3 class="subsectionHeader">Popis</h3>
					<p class="description">{{ item.description }}</p>
				</div>
				<div class="columns small-12 medium-4">
					<canvas class="generalChart" id="crit_{{item.id}}"></canvas>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</section>
<section>
	<h2 class="widgetHeader">Varianty</h2>
		{% for item in object.getVariants %}
	<div class="itemWrapper">
		<i class="fa fa-plus" onclick="openContent(this);"></i>
		<a href="{{item.get_absolute_url}}">
			<h2>{{item.0.name}}</h2>

		</a>
       <span>{{item.1}}</span>
		<div class="collapsedContent">
			<div class="row">
				<div class="columns small-12 medium-4">
					<div class="picture" style="background:url('{{ MEDIA_URL }}{{ item.0.image }}');"></div>
				</div>
				<div class="columns small-12 medium-4">
					<h3 class="subsectionHeader">Popis</h3>
					<p class="description">{{ item.0.description }}</p>
				</div>
				<div class="columns small-12 medium-4">
					<canvas class="generalChart" id="var_{{item.0.id}}"></canvas>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</section>	
{% with invited=object.getInvited %}
{% if invited %}
<section>
	<h2 class="widgetHeader">Pozvaní užívatelia</h2>
	{% for item in invited %}
		<div class="itemWrapper">
			<i class="fa fa-plus" onclick="openContent(this);"></i>
			<div class="avatar small" style="background:url('{{ MEDIA_URL }}{{ item.image }}');"></div>
			<h2>{{ item.user.username }}</h2>
			<div class="collapsedContent">
				<div class="avatar" style="background:url('{{ MEDIA_URL }}{{ item.image }}');"></div>
				<div class="innerContent">
					<div class="row">
						<div class="columns small-12 medium-8">
							{{ item.get_weight_display  }}
							{{ item.get_state_display  }}
						</div>
						<div class="columns small-12 medium-offset-2 medium-2">
						</div>
					</div>					
				</div>
			</div>
		</div>
	{% endfor %}
</section>
{% endif %}
{% endwith %}
{% with uninvited=object.getUninvited %}
{% if uninvited %}
<section>
	<h2 class="widgetHeader">Nepozvaní užívatelia</h2>
	{% for item in uninvited %}
		<div class="itemWrapper">
			<i class="fa fa-plus" onclick="openContent(this);"></i>
			<div class="avatar small" style="background:url('{{ MEDIA_URL }}{{ item.image }}');"></div>
			<h2>{{ item.username }}</h2>
			<div class="collapsedContent">
				<div class="avatar" style="background:url('{{ MEDIA_URL }}{{ item.image }}');"></div>
				<div class="innerContent">
					<div class="row">
						<div class="columns small-12 medium-8">
							<select id="userWeight">
								<option value="" disabled selected>Zvoľ odbornosť užívateľa</option>
							{% for weight in weights %}

								<option value="{{weight.0}}">{{weight.1}}</option>
							{% endfor %}
							</select>	
						</div>
						<div class="columns small-12 medium-offset-2 medium-2">
							<a class="button radius tiny" href="{% url 'invite_create' object.id item.id %}" onclick="post(this, event, {{ object.id }}, {{ item.id }})">Pozvať</a>
						</div>
					</div>					
				</div>
			</div>
		</div>
	{% endfor %}
</section>
{% endif %}
<script>
	var completeness = {{ completeness.1 }};
	var remainder = {{ completeness.0 }};
	var voteEvolutionData = {
		labels: [
			{% for eventDay in completeness.2 %}
				"{{ eventDay.date }}",
			{% endfor %}
		],
		datasets: [{
		 	label: "Počet hlasov",
            fillColor: "rgba(62, 180, 198, 0.2)",
            strokeColor: "#3eb4c6",
            pointColor: "#45c8dc",
            pointStrokeColor: "#eff0f0",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [
            	{% for eventDay in completeness.2 %}
					"{{ eventDay.votes }}",
				{% endfor %}
            ]
		},]

	};
</script>
{% endwith %}
{% endwith %}
{% endblock %}
{% block javascript %}
<script>
{% with graphData=object.getDetailGraphData %}
$(document).ready(function(){
	var resultChartCanvas = document.getElementById("resultChart").getContext("2d");
	var resultChartEvolutionCanvas = document.getElementById("resultEvolutionChart").getContext("2d");
	var criteriaChartCanvas = document.getElementById("criteriaChart").getContext("2d");
	var options = {
	    //Boolean - Whether we should show a stroke on each segment
	    segmentShowStroke : true,

	    //String - The colour of each segment stroke
	    segmentStrokeColor : "#eff0f0",

	    //Number - The width of each segment stroke
	    segmentStrokeWidth : 2,

	    //Number - The percentage of the chart that we cut out of the middle
	    percentageInnerCutout : 70, // This is 0 for Pie charts

	    //Number - Amount of animation steps
	    animationSteps : 50,

	    //String - Animation easing effect
	    animationEasing : "ease",

	    //Boolean - Whether we animate the rotation of the Doughnut
	    animateRotate : true,

	    //Boolean - Whether we animate scaling the Doughnut from the centre
	    animateScale : false,
	}
	var resultData = [
	    {
	        value: completeness,
	        color:"#3eb4c6",
	        highlight: "#45c8dc",
	        label: "Vyplnených porovnaní"
	    },
	    {
	        value: remainder,
	        color: "#53565E",
	        highlight: "#7C7E84",
	        label: "Ešte zostáva"
	    },
	]
	var criteriaData = {
	    labels: [
	    {% for item in graphData.0 %}
	    	"{{item.0}}",
	    {% endfor %}
	    ],
	    datasets: [
	        {
	            label: "Criteria",
	            fillColor: "rgba(62, 180, 198, 0.2)",
	            strokeColor: "#3eb4c6",
	            pointColor: "#45c8dc",
	            pointStrokeColor: "#eff0f0",
	            pointHighlightFill: "#fff",
	            pointHighlightStroke: "rgba(220,220,220,1)",
	            data: [
	            {% for item in graphData.0 %}
	    			{{item.1}},
			    {% endfor %}
			    ]
	        },
	    ]
	};
	var resultChart = new Chart(resultChartCanvas).Doughnut(resultData,options);
	var resultChartEvolution = new Chart(resultChartEvolutionCanvas).Line(voteEvolutionData, options);
	var criteriaChart = new Chart(criteriaChartCanvas).Radar(criteriaData, options);
	{% for critInnerGraphData in graphData.1 %}
		var crit_{{critInnerGraphData.0.id}}_Canvas = document.getElementById("crit_{{critInnerGraphData.0.id}}").getContext("2d");
		var crit_{{critInnerGraphData.0.id}}_Data = {
		    labels: [
		    {% for item in critInnerGraphData.1 %}
		    	"{{item.0}}",
		    {% endfor %}
		    ],
		    datasets: [
		        {
		            label: "Criteria",
		            fillColor: "rgba(62, 180, 198, 0.2)",
		            strokeColor: "#3eb4c6",
		            pointColor: "#45c8dc",
		            pointStrokeColor: "#eff0f0",
		            pointHighlightFill: "#fff",
		            pointHighlightStroke: "rgba(220,220,220,1)",
		            data: [
		            {% for item in critInnerGraphData.1 %}
		    			{{item.1}},
				    {% endfor %}
				    ]
		        },
		    ]
		};
		var crit_{{critInnerGraphData.0.id}}_Chart = new Chart(crit_{{critInnerGraphData.0.id}}_Canvas).Radar(crit_{{critInnerGraphData.0.id}}_Data, options);
	{% endfor %}
	{% for critInnerGraphData in graphData.2 %}
		var var_{{critInnerGraphData.0.id}}_Canvas = document.getElementById("var_{{critInnerGraphData.0.id}}").getContext("2d");
		var var_{{critInnerGraphData.0.id}}_Data = {
		    labels: [
		    {% for item in critInnerGraphData.1 %}
		    	"{{item.0}}",
		    {% endfor %}
		    ],
		    datasets: [
		        {
		            label: "Criteria",
		            fillColor: "rgba(62, 180, 198, 0.2)",
		            strokeColor: "#3eb4c6",
		            pointColor: "#45c8dc",
		            pointStrokeColor: "#eff0f0",
		            pointHighlightFill: "#fff",
		            pointHighlightStroke: "rgba(220,220,220,1)",
		            data: [
		            {% for item in critInnerGraphData.1 %}
		    			{{item.1}},
				    {% endfor %}
				    ]
		        },
		    ]
		};
		var var_{{critInnerGraphData.0.id}}_Chart = new Chart(var_{{critInnerGraphData.0.id}}_Canvas).Radar(var_{{critInnerGraphData.0.id}}_Data, options);
	{% endfor %}
});
function post(link, event, decision_id, user_id){
	event.preventDefault();
	$.post(
		"{% url 'invite_create' %}", 
		{ decision_id: decision_id, user_id: user_id, user_weight: $("#userWeight").val(), csrfmiddlewaretoken: '{{ csrf_token }}' },
		function(data){
			handleData(data);
		}
	);
}
</script>
{% endwith %}
{% endblock %}