{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}{% endblock %} | Dasy</title>
		{% block head %}{% endblock %}
		<link rel="stylesheet" href="{% static 'css/app.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
		<script src="{% static 'js/modernizr.js' %}"></script>
	</head>
	<body> 
		<header>
			<div id="logo">dasy</div>
			<h1 class="viewHeader">{% block header %}{% endblock %}</h1>
			{% block buttons %}{% endblock %}
		</header>
		<nav>
			<ul class="side-nav">
				{% if user.is_authenticated %}
					{% url 'dashboard' as url %}
					<li><a href="{{ url }}" {% if request.path == url %} class="active"{% endif %}><i class="fa fa-dashboard"></i>Dashboard</a></li>
					{% url 'decision_create' as url %}
					<li><a href="{{ url }}" {% if request.path == url %} class="active"{% endif %}><i class="fa fa-plus-circle"></i>Add decision</a></li>
					<li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i>Logout</a></li>
				{% else %}
					{% url 'login' as url %}
					<li><a href="{{ url }}" {% if request.path == url %} class="active"{% endif %}><i class="fa fa-unlock-alt"></i>Login</a></li>
					{% url 'user_add' as url %}
					<li><a href="{{ url }}" {% if request.path == url %} class="active"{% endif %}><i class="fa fa-plus"></i>Create user</a></li>
				{% endif %}
			</ul>
		</nav>
		<div class="contentWrapper">
			<div class="content">
			{% block content %}{% endblock %} 
			</div>
		</div>
		<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    	<script src="{% static 'js/jquery.formset.js' %}"></script>
    	<script src="{% static 'js/foundation.min.js' %}"></script>
    	<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    	<script src="{% static 'js/Chart.min.js' %}"></script>
    	<script src="{% static 'js/app.js' %}"></script>
    	{% block javascript %}{% endblock %}
	</body> 
</html> 