{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}
{% block content %}
	{% with invites=user.getDecisionsInvited %}
	{% with decisions=user.getDecisionsCreated %}
	<section id="decisions">
		<div class="spinnerWrapper hidden">
			<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
		</div>
		<h2 class="widgetHeader">My Decisions</h2>
		{% if not invites and not decisions %}
			<div class="description empty_note">You have no decisions yet, create one or wait till you are invited to participate.</div>
		{% endif %}
	{% for invite in invites %}
	{% with decision=invite.decision %}
		{% include "decision_info.html" %}
	{% endwith %}
	{% endfor %}
	{% for decision in decisions %}
		{% include "decision_info.html" %}
	{% endfor %}
	</section>
	{% endwith %}
	{% endwith %}
	{% with invites=object.getUnrespondedInvites %}
	<section id="invites">
		<h2 class="widgetHeader">Invites</h2>
		<div class="spinnerWrapper hidden">
			<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
		</div>
		{% for item in invites %}
			<div class="itemWrapper" id="invite_{{ item.id }}">
				<i class="fa fa-plus" onclick="openContent(this);"></i>
				<a href="{% url 'decision_detail' item.decision.id %}"><h2>{{ item.decision.name }}</h2></a>
				State: {{ item.get_state_display }}
				<a class="label radius success" href="javascript:acceptInvite(event, {{ item.id }}, {{ item.decision.id }})"><i class="fa fa-check"></i></a>
				<a class="label radius alert" href="javascript:removeInvite(event, {{ item.id }})"><i class="fa fa-times"></i></a>
				<div class="collapsedContent">collapsed</div>
			</div>
		{% empty %}
			<div class="description empty_note">You have no pending invites.</div>
		{% endfor %}
	</section>
	{% endwith %}
{% endblock %}
{% block javascript %}
<script>
	function acceptInvite(event, inviteId, decisionId){
		$("#decisions .spinnerWrapper").fadeIn(300);
		$("#invites .spinnerWrapper").fadeIn(300);
		$.post(
			"{% url 'invite_accept' %}",
			{ 
				inviteId: inviteId, 
				csrfmiddlewaretoken: '{{ csrf_token }}' 
			},
			function(data){
				handleInviteAccept(data, inviteId, decisionId);
				physicallyRemoveInvite(inviteId);
			}
		);
	}
	function removeInvite(event, inviteId){
		$("#invites .spinnerWrapper").fadeIn(300);
		$.post(
			"{% url 'invite_remove' %}",
			{ 
				inviteId: inviteId, 
				csrfmiddlewaretoken: '{{ csrf_token }}' 
			},
			function(data){
				handleData(data);
				physicallyRemoveInvite(inviteId);
			}
		);
	}	
	function physicallyRemoveInvite(inviteId){
		$("#invites .spinnerWrapper").fadeOut(300);
		$("#invite_"+inviteId).hide(function(){
			$(this).remove();
			if(!$("#invites .itemWrapper").length){
				$("#invites").append("<div class='description empty_note'>You have no pending invites.</div>");
			}
		});
	}
</script>
{% endblock %}
