<div class="itemWrapper">
	<i class="fa fa-plus" onclick="openContent(this);"></i>
	<a href="{% url 'decision_detail' decision.id %}">
		<h2>{{ decision.name }}</h2>
	</a>
	<div class="pair--header">
		<span class="key">completeness</span>
		<span class="value">{{ decision.getCompleteness.2 }}</span>
		<span class="symbol"> %</span>
	</div>
	<div class="pair--header">
		<span class="key">role</span>
		<span class="value">{% if invite %}participant{% else %}admin{% endif %}{% if invite.decision.creator == request.user %}, admin{% endif %}</span>
	</div>
	<div class="collapsedContent">
		<div class="row">
			<div class="columns small-12 medium-4">
				<div class="picture" style="background:url('{{ MEDIA_URL }}{{ decision.image }}');"></div>
			</div>
			<div class="columns small-12 medium-4">
				<h3 class="subsectionHeader">Description</h3>
				<p class="description">{{ decision.description }}</p>
				<h3 class="subsectionHeader margin--top">Info</h3>
				<div class="pair">
					<span class="key">created</span>
					<span class="value">{{ decision.published }}</span>
				</div>
				<div class="pair">
					<span class="key">created by</span>
					<span class="value">{{ decision.creator.first_name }} {{ decision.creator.last_name }} ({{ decision.creator.username }})</span>
				</div>
			</div>
			<div class="columns small-12 medium-4">
				<canvas class="generalChart" id="decision_{{decision.id}}"></canvas>
			</div>
		</div>
	</div>
</div>