<div class="itemWrapper">
	<i class="fa fa-plus" onclick="openContent(this);"></i>
	<div class="avatar small" style="background:url('{{ MEDIA_URL }}{{ item.user.image }}');"></div>
	<h2>{{ item.user.username }}</h2>
	<div class="pair--header">
		<span class="key">skill</span>
		<span class="value">{{ item.get_weight_display  }}</span>
	</div>
	<div class="pair--header">
		<span class="key">state</span>
		<span class="value">{{ item.get_state_display  }}</span>
	</div>
	<div class="collapsedContent">
		<div class="avatar" style="background:url('{{ MEDIA_URL }}{{ item.user.image }}');"></div>
		<div class="innerContent">
			<div class="row">
				<div class="columns small-12 medium-8">
					<h3 class="subsectionHeader">Info</h3>
					<div class="pair">
						<span class="key">name</span>
						<span class="value">{{ item.user.first_name }} {{ item.user.last_name }}</span>
					</div>
					<div class="pair">
						<span class="key">email</span>
						<span class="value">{{ item.user.email }}</span>
					</div>
				</div>
				<div class="columns small-12 medium-offset-2 medium-2">
				</div>
			</div>					
		</div>
	</div>
</div>